<div class="row">
  <div class="col-xs-6 well">
    <h1>My Orders</h1>
    <% @user_orders.each do |order| %>
      <hr>
      <p># Order <%= order.id %> - <%= order.activity.title %> - Date: <%= order.activity.date %></p>
    <% end %>
  </div>
</div>