
.center {
  text-align: center;
}

.activity-box {
  display: inline-block;
}

.booking-section {
  display: inline-block;
}
.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}


.form-spacing {
   margin-bottom: 15px;
}

.form-padding {
  padding-bottom: 20px;
}

.book-now-btn {
  display: block;
  width: 100%;
  background-color: #B81DF1;
  color: #ffff;
  border-color: black;
  border-radius: 3px;
}

.listing {
  list-style-type: none;
}

.no-padding {
  padding-left: 0px;
}